<ion-view view-title="{{'aboutusPage.title' | translate}}" class="background">
  	<ion-content>
        
        <div class="card item-image header" ng-click="serviceNavigation.dashboard()">
			<img src="img/Corona_Logo.png" style="width: 125px">
		</div>
        
        <div class="sub_header">
			<h4>{{'aboutusPage.content' | translate}}</h4>
		</div>
    </ion-content>
</ion-view>
