<ion-view view-title="{{'addCreditStep1Page.title' | translate}}" class="background">
  	<ion-content>
        
        <div class="card item-image header" ng-click="serviceNavigation.dashboard()">
			<img src="img/Corona_Logo.png" style="width: 125px">
		</div>
        
        <div class="sub_header">
			<h4>{{'addCreditStep1Page.heading' | translate}}</h4>
		</div>
  	
		<div class="card qdega-sub-header" style="height: 150px" ng-click="step2()">
		  	<div class="item item-text-wrap">
		    	{{'addCreditStep1Page.qrscanArea' | translate}}
		  	</div>
		</div>
        
        
		
  	</ion-content>
	
	
</ion-view>
