<ion-view view-title="{{'addCreditStep2Page.title' | translate}}" class="background">
  	<ion-content>
  	
		<div class="card item-image header" ng-click="serviceNavigation.dashboard()">
			<img src="img/Corona_Logo.png" style="width: 125px">
		</div>
        
        <div class="sub_header">
			<h4>{{'addCreditStep2Page.heading' | translate}}</h4>
		</div>
        
        <div class="row charge-product-detail" style="margin-top: 15px">
		  	<div class="col col-50">
				<div class="amount amount-scroller-text" style="text-align: left">
					{{'addCreditStep2Page.amountLbl' | translate}}
				</div>
			</div>
			
		  	<div class="col col-10">
			</div>
			
		  	<div class="col col-30">
				<div class="amount amount-scroller-amount">
					<span class="amount-scroller">{{'generic.currencySymbol2' | translate}} {{serviceAddCredit.amount}}</span>
				</div>
			</div>
		  	
		</div>
  	
		<div class="padding">
			<div class="item range">
			  	<input type="range" name="creditAmount" ng-model="serviceAddCredit.amount" step="5" minimum="10" maximum="100">
			</div>
		</div>
		
		
		
  	</ion-content>
	
	<div class="padding btn-register">
		<a class="button button-block button-light btn-multi-line" href="#/app/add-credit-step3">
	  		{{'addCreditStep2Page.btnAddCredit' | translate}}
			<span class="btn-sub-line padding-bottom" translate="addCreditStep2Page.btnAddCreditSubText">Confirm Selection</span>
		</a>
	</div>
</ion-view>
