<ion-view view-title="{{'chargeCustomerStep1Page.title' | translate}}" class="background">
  	<ion-content>
        
        
        <div class="card item-image header" ng-click="serviceNavigation.dashboard()">
             <img src="img/Corona_Logo.png" style="width: 125px">
        </div>
        
        <div class="sub_header">
			<h4 translate="chargeCustomerStep1Page.heading">QR-Code Scanner</h4>
		</div>
  	
		<div class="card qdega-sub-header" style="height: 150px" ng-click="step2()">
		  	<div class="item item-text-wrap">
		    	{{'chargeCustomerStep1Page.qrscanArea' | translate}}  {{barcode}}
		  	</div>
		</div>
		
  	</ion-content>
	
	
</ion-view>
