<ion-view view-title="{{'chargeCustomerStep3Page.title' | translate}}" class="background">
  	<ion-content>
  	
		
        <div class="card item-image header" ng-click="serviceNavigation.dashboard()">
             <img src="img/Corona_Logo.png" style="width: 125px">
        </div>
		
		<div class="sub_header">
			<h4>{{'chargeCustomerStep3Page.heading' | translate}}</h4>
		</div>

		<div class="product-checkout">
			<div class="row header">
			  	<div class="col col-30">
					<div class="">
						{{'shoppingCartComponent.product' | translate}}
					</div>
				</div>
				<div class="col col-20">
					   {{'shoppingCartComponent.quantity' | translate}}
				</div>
			  	<div class="col col-25 price-align">
						{{'shoppingCartComponent.singlePrice' | translate}}
				</div>
			  	<div class="col col-25 price-align">
						{{'shoppingCartComponent.totalPrice' | translate}}
				</div>
			</div>
			
			<div class="row row-data" ng-repeat="shopingProduct in serviceChargeCustomer.productsSelected">
			  	<div class="col col-30">
					<div class="">
						{{serviceChargeCustomer.getProductName(shopingProduct.id)}}
					</div>
				</div>
				<div class="col col-20">
					{{shopingProduct.quantity}}
				</div>
			  	<div class="col col-25">
					<div class="price-align">
						{{serviceChargeCustomer.getProductPrice(shopingProduct.id) | number:qdegaNumberFormat}}
					</div>
				</div>
			  	<div class="col col-25">
					<div class="price-align">
						{{serviceChargeCustomer.getProductQuantityPrice(shopingProduct.id, shopingProduct.quantity) | number:qdegaNumberFormat}}
					</div>
				</div>
			</div>
			
			
			
			<div class="row total-amount-panel">
			  	<div class="col col-75">
					<div class="">
						{{'shoppingCartComponent.totalAmount' | translate}}
					</div>
				</div>
			  	<div class="col col-25">
					<div class="price-align">
						{{serviceChargeCustomer.getTotalAmount() | number: qdegaNumberFormat}}
					</div>
				</div>
			</div>
		</div>
        
        <div ng-show="serviceChargeCustomer.productsSelected.length > 0">
            <div class="row">
                <div class="col price-align price-symbol">
                    {{'generic.currencySymbol' | translate}}
				</div>
            </div>
        </div>
		
		
		<div class="row padding">
		  	<div class="pin-text">{{'shoppingCartComponent.consumerPIN' | translate}}</div>
		</div>
		
		<div class="row padding">
            <div class="pin-box-main">
                <div class="pin-box">
                    <input id="chargeCustomerpin1" type="password" maxlength="1" pattern="[0-9]*" ng-keyup="pinEntered($event, 'chargeCustomerpin2')" ng-model="pin.txt1" />
                </div>
                <div class="pin-box">
                    <input id="chargeCustomerpin2" type="password" maxlength="1" pattern="[0-9]*" ng-keyup="pinEntered($event, 'chargeCustomerpin3')" ng-model="pin.txt2" />
                </div>
                <div class="pin-box">
                    <input id="chargeCustomerpin3" type="password" maxlength="1" pattern="[0-9]*" ng-keyup="pinEntered($event, 'chargeCustomerpin4')" ng-model="pin.txt3" />
                </div>
                <div class="pin-box">
                    <input id="chargeCustomerpin4" type="password" maxlength="1" pattern="[0-9]*" ng-keyup="pinEntered($event, 'btnRecharge1')" ng-model="pin.txt4" />
                </div>
            </div>
		</div>
  	
		<div class="padding">
			<a id="btnRecharge" class="button button-block button-light btn-multi-line" ng-click="customerRecharge()">
		  		{{'chargeCustomerStep3Page.btnConfirm' | translate}}
				<span class="btn-sub-line" translate="chargeCustomerStep3Page.btnConfirmSubText">Authorize Payment</span>
			</a>
		</div>
		
		
		
  	</ion-content>
	
</ion-view>
