<div class="row product-form">

    <div class="col product-quantity-control-edit">
        <div class="charge-product-column quantity-btn-style" ng-click="subtractQuantityEdit()">
            -
        </div>
    </div>
    <div class="col product-quantity-number-edit">
        <div class="charge-product-column">
            {{productItemEdit.quantity}}
        </div>
    </div>
    <div class="col product-quantity-control-edit">
        <div class="charge-product-column quantity-btn-style" ng-click="addQuantityEdit()">
            +
        </div>
    </div>
</div>