<ion-view view-title="{{'chargeCustomerStep2Page.title' | translate}}" class="background">
  	<ion-content>
  	
		
        <div class="card item-image header" ng-click="serviceNavigation.dashboard()">
             <img src="img/Corona_Logo.png" style="width: 125px">
        </div>
        
        <div class="sub_header">
			<h4 translate="chargeCustomerStep2Page.heading">Products</h4>
		</div>
        
        
        
        
        <div class="row product-form">

            <div class="col col-50">
                <div class="charge-product-column">
                    <div class="item item-select">
                        <select ng-options="item.id as item.name for item in serviceChargeCustomer.products" ng-model="productItem.id">
                            <option value="">{{'chargeCustomerStep2Page.productSelectBox' | translate}}</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="col product-quantity-control">
                <div class="charge-product-column quantity-btn-style" ng-click="subtractQuantity()">
                    -
                </div>
            </div>
            <div class="col product-quantity-number">
                <div class="charge-product-column">
                    {{productItem.quantity}}
                </div>
            </div>
            <div class="col product-quantity-control">
                <div class="charge-product-column quantity-btn-style" ng-click="addQuantity()">
                    +
                </div>
            </div>
        </div>
        
        <div class="padding custom-add-btn">
            <button class="button icon-left ion-plus-circled" ng-click="addProduct(productItem)">{{'chargeCustomerStep2Page.btnAddProduct' | translate}}</button>
        </div>
        
        <div class="product-checkout" ng-show="serviceChargeCustomer.productsSelected.length > 0">
			<div class="row header">
			  	<div class="col col-30">
					<div class="">
						{{'shoppingCartComponent.product' | translate}}
					</div>
				</div>
				<div class="col col-20">
					   {{'shoppingCartComponent.quantity' | translate}}
				</div>
			  	<div class="col col-25 price-align">
						{{'shoppingCartComponent.singlePrice' | translate}}
				</div>
			  	<div class="col col-25 price-align">
						{{'shoppingCartComponent.totalPrice' | translate}}
				</div>
			</div>
			
			<div class="row row-data" ng-repeat="shopingProduct in serviceChargeCustomer.productsSelected" ng-click="openModal($index)">
			  	<div class="col col-30">
					<div class="">
						{{serviceChargeCustomer.getProductName(shopingProduct.id)}}
					</div>
				</div>
				<div class="col col-20">
					<span class="product-edit-icon">{{shopingProduct.quantity}}</span>
				</div>
			  	<div class="col col-25 price-align">
					{{serviceChargeCustomer.getProductPrice(shopingProduct.id) | number: qdegaNumberFormat}}
				</div>
			  	<div class="col col-25 price-align">
                    {{serviceChargeCustomer.getProductQuantityPrice(shopingProduct.id, shopingProduct.quantity) | number: qdegaNumberFormat}}
				</div>
			</div>
			
			
			
			<div class="row total-amount-panel">
			  	<div class="col col-75">
					<div class="">
						{{'shoppingCartComponent.totalAmount' | translate}}
					</div>
				</div>
			  	<div class="col col-25 price-align">
                    {{serviceChargeCustomer.getTotalAmount() | number: qdegaNumberFormat}}
				</div>
			</div>
		</div>
        
        <div ng-show="serviceChargeCustomer.productsSelected.length > 0">
            <div class="row">
                <div class="col price-align price-symbol">
                    {{'generic.currencySymbol' | translate}}
				</div>
            </div>
        </div>
		
		
        <div class="padding">
		<a class="button button-block button-light btn-multi-line" ng-click="step3()">
	  		{{'chargeCustomerStep2Page.btnChargeCustomer' | translate}}
			<span class="btn-sub-line padding-bottom" translate="chargeCustomerStep2Page.btnChargeCustomerSubText">Confirm Selection</span>
		</a>
	</div>
		
  	</ion-content>
	
	
</ion-view>
