<ion-view view-title="" class="background" >
	<ion-content>
		<div class="card item-image header">
			<img src="img/Corona_Logo.png" style="width: 125px">
		</div>
		
		<div class="sub_header">
			<h4>Outlet ABC</h4>
		</div>
		
		
		<div class="dashboard-btn-padding margin-bottom-15">
			<a class="button button-block button-light btn-multi-line padding-vertical" style="height: 90px; padding-top: 15px;" href="#/app/charge-customer-step1">
		  		{{'dashboardPage.btnChargeCustomer' | translate}}
				<span class="btn-sub-line" translate="dashboardPage.btnChargeCustomerSubText">Scan Customer's QR-Code</span>
			</a>
		</div>
			
		<div class="dashboard-btn-padding margin-bottom-15">
			<a class="button button-block button-light btn-multi-line" href="#/app/add-credit-step1">
		  		{{'dashboardPage.btnAddCredit' | translate}}
				<span class="btn-sub-line" translate="dashboardPage.btnAddCreditSubText">Add Credit to Customer's Account</span>
			</a>
		</div>
		
		<div class="dashboard-btn-padding margin-bottom-15">
			<a class="button button-block button-light btn-multi-line" href="#/app/sell-new-step1">
		  		{{'dashboardPage.btnSellNewCard' | translate}}
				<span class="btn-sub-line" translate="dashboardPage.btnSellNewCardSubText">Sell a new Card to a Customer</span>
			</a>
		</div>
		
		<!--<div class="dashboard-btn-padding margin-bottom-15">
			<a class="button button-block button-light btn-multi-line">
		  		Cancel Order
				<span class="btn-sub-line">Cancel an Order</span>
			</a>
		</div>
		
		<div class="dashboard-btn-padding margin-bottom-15">
			<a class="button button-block button-light btn-multi-line" href="#/app/manage-waiters">
		  		{{'dashboardPage.btnManageWaiters' | translate}}
				<span class="btn-sub-line" translate="dashboardPage.btnManageWaitersSubText">Manage Credentials of your Waiters</span>
			</a>
		</div>
			
		<div class="dashboard-btn-padding margin-bottom-15">
			<a class="button button-block button-light btn-multi-line" href="#/app/transactions">
		  		{{'dashboardPage.btnMyTransactions' | translate}}
				<span class="btn-sub-line" translate="dashboardPage.btnMyTransactionsSubText">Check your Balance</span>
			</a>
		</div>-->
	</ion-content>
		
</ion-view>