<ion-view view-title="{{ 'forgotPasswordPage.title' | translate }}" class="background">
    <ion-nav-bar class="bar-dark qdega-menu">
      	<ion-nav-back-button>
      	</ion-nav-back-button>
    </ion-nav-bar>
	
	<ion-content>
		<div class="card item-image header">
			<img src="img/Corona_Logo.png" style="width: 125px">
		</div>
			
		<div class="sub_header">
			<h4 translate="forgotPasswordPage.heading">Please enter your email</h4>
		</div>
			
		<div class="list list-inset login">
			<label class="item item-input">
		  		<input type="email" placeholder="{{ 'forgotPasswordPage.inputEmailAddress' | translate }}" ng-model="user.userEmail">
			</label>
      	</div>
		
		<div class="padding">
			<a class="button button-block button-light btn-multi-line" ng-click="forgotPassword(user)">
		  		{{ 'forgotPasswordPage.btnForgotPassword' | translate }}
				<span class="btn-sub-line" translate="forgotPasswordPage.btnForgotPasswordSubText">Your password reset instructions will be emailed to you</span>
			</a>
		</div>
		
          
	</ion-content>
</ion-view>