<ion-view view-title="{{'manageWaitersPage.title' | translate}}" class="background">
  	<ion-content>
        
        <div class="card item-image header" ng-click="serviceNavigation.dashboard()">
			<img src="img/Corona_Logo.png" style="width: 125px">
		</div>
        
        <div class="sub_header">
			<h4>{{'manageWaitersPage.heading' | translate}}</h4>
		</div>
  	
		<ion-list>
        
            <ion-item class="item-stable qdega-bold icon-right item-accordian-main"
                    ng-click="toggleGroup('add')"
                    ng-class="{active: isGroupShown('add')}">
              
                {{'manageWaitersPage.addWaiterTitle' | translate}}
                <i class="icon icon-right" ng-class="isGroupShown('add') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown('add')" style=" padding: 0px">
                
                <div class="list" style="margin-bottom: 5px;">
                    <label class="item item-input">
                        <input type="text" placeholder="{{'manageWaitersPage.inputFirstName' | translate}}" ng-model="waiter.firstName">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="{{'manageWaitersPage.inputLastName' | translate}}" ng-model="waiter.lastName">
                    </label>
                    <label class="item item-input">
                        <input type="email" placeholder="{{'manageWaitersPage.inputEmailAddress' | translate}}" ng-model="waiter.email">
                    </label>
                    <label class="item item-checkbox checkbox form-checkbox">
                        <input type="checkbox" style="float: left">
                        <div style="float: left; padding-top: 5px; padding-left: 8px">
                            {{'manageWaitersPage.inputAssignAdminRights' | translate}}
                        </div>
                    </label>
                        
                  </li>
                </div>
                
                <div class="padding">
                    <button class="button button-block button-dark qdega-bold" ng-click="add(waiter)">
                        {{'manageWaitersPage.btnSendInvitation' | translate}}
                    </button>
                </div>
                
            </ion-item>
            
            <ion-item class="item-stable qdega-bold icon-right item-accordian-main"
                    ng-click="toggleGroup('manage')"
                    ng-class="{active: isGroupShown('manage')}">
              
                {{'manageWaitersPage.manageWaiterTabTitle' | translate}}
                <i class="icon icon-right" ng-class="isGroupShown('manage') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown('manage')" style=" padding: 0px;">
                
                <div class="list" style="margin-bottom: 5px;">
                    <label class="item item-checkbox checkbox form-checkbox">
                        <input type="checkbox" style="float: left"> <div style="float: left; padding-top: 5px; padding-left: 8px">Waiter 1 (Admin)</div>
                    </label>
                    <label class="item item-checkbox checkbox form-checkbox">
                        <input type="checkbox" style="float: left"> <div style="float: left; padding-top: 5px; padding-left: 8px">Waiter 2</div>
                    </label>
                    
                    <label class="item item-checkbox checkbox form-checkbox">
                        <input type="checkbox" style="float: left"> <div style="float: left; padding-top: 5px; padding-left: 8px">Waiter 3</div>
                    </label>
                        
                  </li>
                </div>
                
                <div class="padding">
                    <div class="button-bar">
                        <button class="button button-block button-dark qdega-bold">
                            {{'manageWaitersPage.manageWaiterBtnDelete' | translate}}
                        </button>
                        <button class="button button-block button-dark qdega-bold">
                            {{'manageWaitersPage.manageWaiterBtnAssignAdminRights' | translate}}
                        </button>
                    </div>
                </div>
            </ion-item>
            
            
            
        
      </ion-list>

		
  	</ion-content>
	
	
</ion-view>
