<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark qdega-menu">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  
  

  <ion-side-menu side="left" cache-view="false">
    
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/dashboard" style="margin-top: 20px">
          <span translate="sideMenu.home"></span>
        </ion-item>
        <ion-item menu-close href="#/app/about-us">
            <span translate="sideMenu.aboutus"></span>
        </ion-item>
        <ion-item menu-close href="#/app/my-account">
            <span translate="sideMenu.account"></span>
        </ion-item>
        <!--<ion-item menu-close href="#/app/my-account">
          Change Password
        </ion-item>-->
        <ion-item menu-close href="#/sign-in">
            <span translate="sideMenu.logout"></span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
