<ion-view view-title="{{'accountPage.title' | translate}}" class="background">
  	<ion-content>
        
        <div class="card item-image header" ng-click="serviceNavigation.dashboard()">
			<img src="img/Corona_Logo.png" style="width: 125px">
		</div>
        
        <div class="sub_header">
			<h4>{{'accountPage.heading' | translate}}</h4>
		</div>
  	
		<ion-list>
            
            
            <ion-item class="item-stable qdega-bold icon-right item-accordian-main"
                    ng-click="toggleGroup('changeInfo')"
                    ng-class="{active: isGroupShown('changeInfo')}">
              
                {{'accountPage.editAccountTabTitle' | translate}}
                <i class="icon icon-right" ng-class="isGroupShown('changeInfo') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown('changeInfo')" style=" padding: 0px">
                
                <div class="list" style="margin-bottom: 5px;">
                    <label class="item item-input">
                        <input type="text" placeholder="{{'accountPage.inputFirstName' | translate}}" ng-model="waiter.firstName">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="{{'accountPage.inputLastName' | translate}}" ng-model="waiter.lastName">
                    </label>
                        
                  </li>
                </div>
                
                <div class="padding">
                    <button class="button button-block button-dark qdega-bold" ng-click="add(waiter)">
                        {{'accountPage.btnEditAccountInfo' | translate}}
                    </button>
                </div>
                
            </ion-item>
            
            <ion-item class="item-stable qdega-bold icon-right item-accordian-main"
                    ng-click="toggleGroup('changeEmail')"
                    ng-class="{active: isGroupShown('changeEmail')}">
              
                {{'accountPage.changeEmailTabTitle' | translate}}
                <i class="icon icon-right" ng-class="isGroupShown('changeEmail') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown('changeEmail')" style=" padding: 0px;">
                
                <div class="list" style="margin-bottom: 5px;">
                    
                    <label class="item item-input">
                        <input type="text" placeholder="{{'accountPage.inputNewEmailAddress' | translate}}" ng-model="waiter.email">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="{{'accountPage.inputConfirmNewEmailAddress' | translate}}" ng-model="waiter.confirmEmail">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="{{'accountPage.inputCurrentPassword' | translate}}" ng-model="waiter.emailCurrentPassword">
                    </label>
                        
                  </li>
                </div>
                
                <div class="padding">
                    <button class="button button-block button-dark qdega-bold" ng-click="add(waiter)">
                        {{'accountPage.btnUpdateEmailInfo' | translate}}
                    </button>
                </div>
            </ion-item>
            
            <ion-item class="item-stable qdega-bold icon-right item-accordian-main"
                    ng-click="toggleGroup('changePassword')"
                    ng-class="{active: isGroupShown('changePassword')}">
              
                {{'accountPage.editChangePasswordTabTitle' | translate}}
                <i class="icon icon-right" ng-class="isGroupShown('changePassword') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown('changePassword')" style=" padding: 0px">
                
                <div class="list" style="margin-bottom: 5px;">
                    <label class="item item-input">
                        <input type="password" placeholder="{{'accountPage.inputCurrentPassword' | translate}}" ng-model="waiter.currentPassword">
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="{{'accountPage.inputNewPassword' | translate}}" ng-model="waiter.newPassword">
                    </label>
                    
                    <label class="item item-input">
                        <input type="password" placeholder="{{'accountPage.inputConfirmNewPassword' | translate}}" ng-model="waiter.confirmNewPassword">
                    </label>
                        
                  </li>
                </div>
                
                <div class="padding">
                    <button class="button button-block button-dark qdega-bold" ng-click="add(waiter)">
                        {{'accountPage.btnUpdatePassword' | translate}}
                    </button>
                </div>
                
            </ion-item>


            <ion-item class="item-stable qdega-bold icon-right item-accordian-main"
                    ng-click="toggleGroup('changePIN')"
                    ng-class="{active: isGroupShown('changePIN')}">
              
                {{'accountPage.changePinTabTitle' | translate}}
                <i class="icon icon-right" ng-class="isGroupShown('changePIN') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown('changePIN')" style=" padding: 0px">
                
                <div class="list" style="margin-bottom: 5px;">
                    <label class="item item-input">
                        <input type="number" placeholder="{{'accountPage.inputNewPIN' | translate}}" maxlength="4" ng-model="waiter.newPIN">
                    </label>
                    <label class="item item-input">
                        <input type="number" placeholder="{{'accountPage.inputConfirmNewPIN' | translate}}" maxlength="4" ng-model="waiter.confirmNewPIN">
                    </label>
                    
                    <label class="item item-input">
                        <input type="password" placeholder="{{'accountPage.inputCurrentPassword' | translate}}" ng-model="waiter.pinCurrentPassword">
                    </label>
                        
                  </li>
                </div>
                
                <div class="padding">
                    <button class="button button-block button-dark qdega-bold" ng-click="add(waiter)">
                        {{'accountPage.btnUpdatePIN' | translate}}
                    </button>
                </div>
                
            </ion-item>

            <ion-item class="item-stable qdega-bold icon-right item-accordian-main"
                    ng-click="toggleGroup('changeLanguage')"
                    ng-class="{active: isGroupShown('changeLanguage')}">
              
                {{'accountPage.languageTabTitle' | translate}}
                <i class="icon icon-right" ng-class="isGroupShown('changeLanguage') ? 'ion-chevron-down' : 'ion-chevron-right'"></i>
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown('changeLanguage')" style=" padding: 0px">
                
                <div class="list" style="margin-bottom: 5px;">
                    <ion-radio ng-model="currentLanguage" ng-value="lang.value" ng-repeat="lang in languages" ng-click="changeLanguage(lang.value)">{{lang.label}}</ion-radio>
                    
                </div>
                
                
                
            </ion-item>
            
            
        
      </ion-list>

		
  	</ion-content>
	
	
</ion-view>
