<ion-view view-title="{{'sellNewCardStep1Page.title' | translate}}" class="background">
	   
    <!--<ion-nav-bar class="bar-dark qdega-menu">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <img src="img/Corona_Logo.png" style="width: 35px; background-color: #ffffff; border-radius: 6px;">
      </ion-nav-buttons>
    </ion-nav-bar>-->
    
  	<ion-content>
  	
		<div class="card item-image header" ng-click="serviceNavigation.dashboard()">
			<img src="img/Corona_Logo.png" style="width: 125px">
		</div>
        
        <div class="sub_header">
			<h4>{{'sellNewCardStep1Page.heading' | translate}}</h4>
		</div>
  	
		<div class="card qdega-sub-header" style="height: 150px" ng-click="step2()">
		  	<div class="item item-text-wrap">
		    	{{'sellNewCardStep1Page.qrscanArea' | translate}}
		  	</div>
		</div>
        
        
		
  	</ion-content>
	
	
</ion-view>
