  <ion-view view-title="Sign-In" class="background">
      <ion-content scroll="false">
			<div class="card item-image header login-header">
				<img src="img/Corona_Logo.png" class="header-image">
			</div>
			
			<div class="sub_header">
				<h4 translate="loginPage.heading">Please enter your login details</h4>
			</div>
			
			<div class="list list-inset login">
				<label class="item item-input">
			  		<input type="email" placeholder="{{ 'loginPage.inputEmailAddress' | translate }}" ng-model="data.userEmail">
				</label>
			    <label class="item item-input">
			      	<input type="password" placeholder="{{ 'loginPage.inputPassword' | translate }}" ng-model="data.password">
			    </label>
        	</div>
			<div class="forgot-password-link link">
				<a href="#/forgot-password" translate="loginPage.forgotPassword">I forgot my password</a>
			</div>
			
			<div class="padding">
				<a class="button button-block button-light btn-multi-line" ng-click="signIn(data)">
			  		{{ 'loginPage.btnLogin' | translate }}
					<span class="btn-sub-line" translate="loginPage.btnLoginSubText">Proceed to Homescreen</span>
				</a>
			</div>
			
			<div class="padding">
              <a class="button button-block button-light btn-multi-line" ng-click="registerNewAccount()">
                  {{ 'loginPage.btnSignup' | translate }}
                  <span class="btn-sub-line" translate="loginPage.btnSignupSubText">Apply for a  Account</span>
              </a> 
          </div>
			
        
      </ion-content>
		
		
    </ion-view>