<ion-view view-title="{{'myTransactionsPage.title' | translate}}" class="background">
	<ion-content>
		<div class="card item-image header" ng-click="serviceNavigation.dashboard()">
			<img src="img/Corona_Logo.png" style="width: 125px">
		</div>
		
		<div class="sub_header">
			<h4>{{'myTransactionsPage.heading' | translate}}</h4>
		</div>
        
        <div class="product-checkout">
			
			<div class="row header">
			  	<div class="col col-75">
				    {{'myTransactionsPage.transactionType' | translate}}
				</div>
				<div class="col col-25 price-align">
				    {{'myTransactionsPage.transactionTotal' | translate}}
				</div>
			  	
			</div>
            
            <div class="row row-data">
                <div class="col col-75">
				    {{'myTransactionsPage.revenue' | translate}}
				</div>
			  	<div class="col col-25 price-align">
				    544,80
				</div>
            </div>
            
			
            <div class="row row-data">
                <div class="col col-75">
				    {{'myTransactionsPage.cashPayments' | translate}}
				</div>
			  	<div class="col col-25 price-align">
				    -375,00
				</div>
            </div>
            <div class="row total-amount-panel">    
                <div class="col col-75">
					{{'myTransactionsPage.currentBalance' | translate}}
				</div>
			  	<div class="col col-25">
					<div class="balance price-align">
						169,80
					</div>
				</div>
			</div>
		</div>
        
        <div>
            <div class="row">
                <div class="col price-align price-symbol">
                    {{'generic.currencySymbol' | translate}}
				</div>
            </div>
        </div>
		
		<div class="dashboard-btn-padding margin-bottom-15">
			<a class="button button-block button-light btn-multi-line" href="#">
		  		{{'myTransactionsPage.transactionDetails' | translate}}
				<span class="btn-sub-line">{{'myTransactionsPage.forMerchantSymbol' | translate}} merchant XYZ</span>
			</a>
		</div>
        
        <div style="border-top: 1px solid #000000; margin-left: 10px; margin-right: 10px"></div>
        
        <div class="sub_header">
			<h4>{{'myTransactionsPage.detailsByWaiterLbl' | translate}}</h4>
		</div>
		
		<div class="dashboard-btn-padding margin-bottom-15">
			<a class="button button-block button-light btn-multi-line" href="#">
		  		Waiter Name 1
				<span class="btn-sub-line">299 | {{'myTransactionsPage.cardsLbl' | translate}} 3</span>
			</a>
		</div>
		
		<div class="dashboard-btn-padding margin-bottom-15">
			<a class="button button-block button-light btn-multi-line" href="#">
		  		Waiter Name 2
				<span class="btn-sub-line">123 | {{'myTransactionsPage.cardsLbl' | translate}} 5</span>
			</a>
		</div>
        
        <div class="dashboard-btn-padding margin-bottom-15">
			<a class="button button-block button-light btn-multi-line" href="#">
		  		Waiter Name 3
				<span class="btn-sub-line">453 | {{'myTransactionsPage.cardsLbl' | translate}} 4</span>
			</a>
		</div>
	</ion-content>
		
</ion-view>