/* Empty. Add your own CSS if you like */

@font-face {
    font-family: 'DinBold';
    src: url('fonts/din-bold-webfont.eot');
    src: url('fonts/din-bold-webfont.eot') format('embedded-opentype'),
         url('fonts/din-bold-webfont.woff') format('woff'),
         url('fonts/din-bold-webfont.ttf') format('truetype'),
         url('fonts/din-bold-webfont.svg#DinBold') format('svg');
}
@font-face {
    font-family: 'DinLight';
    src: url('fonts/din-light-webfont.eot');
    src: url('fonts/din-light-webfont.eot') format('embedded-opentype'),
         url('fonts/din-light-webfont.woff') format('woff'),
         url('fonts/din-light-webfont.ttf') format('truetype'),
         url('fonts/din-light-webfont.svg#DinLight') format('svg');
}

body
{
	font-family: DinLight;
}

input, button, select, textarea {
  	font-family: DinLight;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: DinBold;
}

.bar .title {
	font-family: DinBold;
    text-align: center !important;
}

.qdega-bold
{
    font-family: DinBold;
}

.background
{
    background-color: #bcbcbc; /*bcbcbc fcc630*/
}

.header
{
	background-color: #ffffff;
	box-shadow: none;
	border-radius: 0;
	margin-bottom: -5px;
	margin-top: 5px;
    border-style: solid;
    border-radius: 2px;
}

.header-image
{
    width: 125px !important;
}

.sub_header
{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
}

.login
{
	/*margin-top: 55px;*/
	margin-bottom: 8px;
}

.forgot-password-link
{
	padding-right: 10px;
	padding-left: 10px;
	text-align: right;
}

.btn-multi-line
{
	color: #000;
	border-width: 0px;
	font-family: DinBold;
	font-size: 19px;
    padding-top: 0px;
}

.btn-sub-line
{
	font-family: DinLight;
	display: block;
	margin: 0px;
	font-size: 11px;
	line-height: 13px;
	margin-top: -7px;
	margin-bottom: 10px;
	font-weight: normal;
	padding-bottom: 9px;
}

.btn-sub-line.padding-bottom
{
	padding-bottom: 10px;
}


.btn-register
{
	bottom: 20px;
	position: fixed;
	right: 0;
	left: 0;
}

.link a
{
	color: #000000;
}

.link a:visited
{
	color: #000000;
}

.dashboard-btn-padding
{
	padding-bottom: 0px;
	padding-right: 10px;
	padding-left: 10px;
}

.qdega-menu
{
	background-color: #fcc630;
}

.qdega-sub-header
{
	text-align: center;
	font-weight: bold;
}

.charge-product-column
{
	padding: 5px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: #ffffff;
	text-align: center;
}

.charge-product-detail
{
	
}

.charge-product-detail .col
{
	padding-top: 0;
	padding-bottom: 0;
}
.charge-product-detail .quantity
{
	padding: 5px;
	width: 100%;
	text-align: left;
	font-weight: bold;
}

.charge-product-detail .description
{
	padding: 5px;
	width: 100%;
	text-align: left;
	font-weight: bold;
	color: grey;
}

.charge-product-detail .amount
{
	padding: 5px;
	width: 100%;
	text-align: right;
	font-family: DinBold;
}

.quantity-btn-style
{
    font-family: DinBold;
    font-size: 27px;

}

.product-checkout
{
	background-color: #ffffff;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 11px;
}

.product-checkout .col
{
	padding-top: 0px;
	padding-bottom: 0px;
}
.product-checkout .header
{
	border-bottom: 1px solid #ddd;
	padding-bottom: 0px;
	font-family: DinBold;
}

.product-checkout .row-data
{
	padding-top: 5px;
	padding-bottom: 5px;
}

.product-checkout .total-amount-panel
{
	padding-top: 2px;
    padding-bottom: 2px;
    font-family: DinBold;
    border-top: 1px solid #ddd;
    font-family: DinBold;
}

.pin-text
{
	width: 209px;
    margin: 0 auto;
    text-align: center;
    font-family: DinBold;
    border: 1px solid #000;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pin-box-main
{
    width: 209px;
    margin: 0 auto;
    text-align: center;
    font-family: DinBold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pin-box
{
    display: block; 
    float:left;
    margin-right: 2px
}

.platform-browser .pin-box input {
    width: 50px;
    height: 50px !important;
    text-align: center;
    font-size: xx-large;
}

.platform-android .pin-box input {
    width: 50px;
    height: 50px !important;
    text-align: center;
    font-size: xx-large;
}

.platform-ios .pin-box input {
    width: 50px;
    height: 50px !important;
    text-align: center;
    font-size: xx-large;
    padding-left:15px
}

.margin-bottom-15
{
    margin-bottom: 15px;
}

.item-select select
{
    right: auto;
    padding: 13px 45px 15px 0px;
    direction: ltr;
}

.product-form 
{
    padding-bottom: 0px;
    padding-top: 0px;
}

.product-form .item-select
{
    border-width: 0px;
    padding: 11px;
}
.product-form .item-select select {
    
    left: 0px; 
    padding: 0px 0px 0px 0px; 
    max-width: 100%;
    width: 100%;
    background: #FFF none repeat scroll 0% 0%; 
    direction: ltr; 
}

.total-amount
{
    margin-top: 20px !important;
    font-family: DinBold;
}

.custom-add-btn .button
{
    min-height: 31px;
    padding-top: 2px;
    line-height: 32px;
    font-size: 13px;
    width: 100%;
}

.custom-add-btn .button.icon-left:before
{
    line-height: 31px;
}

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.item-accordian-main .icon
{
    right: 18px;
    position: absolute;
}

.form-checkbox
{
    width: 100%;
    padding-left: 5px; 
    display: flex !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    position: relative;
    overflow: hidden;
    /* padding: 6px 0 5px 16px; */
    margin-left:0px;
    border-left:none;
    border-right:none
}

.platform-ios .login-header
{
    margin-top: 25px;
}

.product-quantity-control
{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 18%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 18%;
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    max-width: 18%;
}

.product-quantity-number
{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 14%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 14%;
    -ms-flex: 0 0 14%;
    flex: 0 0 14%;
    max-width: 14%;
}

.transactions
{
	background-color: #ffffff;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 11px;
}

.transactions .col
{
	padding-top: 0px;
	padding-bottom: 0px;
}

.transactions .row-data
{
	padding-top: 5px;
	padding-bottom: 5px;
}

.transactions .total-amount-panel
{
	padding-top: 2px;
    padding-bottom: 2px;
    font-family: DinBold;
    font-family: DinBold;
}

.transactions .total-amount-panel .balance
{
    border-top: 1px solid #ddd;
}

.transaction-detail-column
{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}

.amount-scroller-text
{
    text-align: left;
    padding-left: 0px !important;
}

.amount-scroller-amount
{
    padding-right: 0px !important;
}

.amount-scroller
{
    background-color: #ffffff;
    padding: 10px;
}

.product-quantity-control-edit
{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 36%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 36%;
    -ms-flex: 0 0 36%;
    flex: 0 0 36%;
    max-width: 36%;
}

.product-quantity-number-edit
{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 28%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 28%;
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    max-width: 28%;
}

.price-align
{
    text-align: right;
}

.price-symbol
{
    padding-right: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: -5px;
    font-size: 12px;
    font-family: DinBold;
}

.product-edit-icon
{
    background-image: url('../img/edit-icon.png');
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 12px;
    width: 43px;
    height: 20px;
  /* background-position-x: 0px; */
  /* background-position-y: 3px; */
  /* margin-left: 10px; */
    text-align: left;
    background-position: right 3px;
}